<h1>Greetings Spring Boot 3.4 fans!</h1>
<p>We are learning how to make a web app using Spring Boot 3.4</p>
<form action="/new-video" method="post">
    <input type="text" name="name">
    <button type="submit">Submit</button>
</form>
<ul>
{{#videos}}
<li>{{name}}</li>
{{/videos}}
</ul>

